.prof{
    font-size: 25px;
}
.contenedor-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verde{
    width: 500px;
}
.contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position:absolute;
    background-color: white;
    height: 350px;
    width: 470px;
    border-radius: 10px;
    padding-top: 50px;
    top: 200px;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.5);
}
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre{
    font-size: 30px;
    font-weight: bold;
}
.perfil img{
    width: 170px;
    height: 170px;
    position: absolute;
    top: -90px;
    background-color: var(--blanco-bajo);
    padding: 5px;
    border-radius: 50%;
}
.redes{
    display: flex;
    justify-content: space-around;
}
.in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.in img{
    width: 15px;
}
.inst{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}
.inst img{
    width: 15px;
}
.redes p{
    font-size: 10px;
}
